Advanturestart/.vs
Advanturestart/Library
Advanturestart/Logs
Advanturestart/obj
Advanturestart/Packages
Advanturestart/Assembly-CSharp.csproj
Advanturestart/.vsconfig
*.sln
/Advanturestart/Temp
/Advanturestart/.idea
/Advanturestart/Assembly-CSharp-Editor.csproj
/Advanturestart/Assembly-CSharp-firstpass.csproj
